:root {
    --color-main-background: #282A36;
    --color-main-background-rgb: 40, 42, 54;
    --color-background-hover: #323440; /* main-background + 0x0A */
    --color-background-dark: #3A3C48; /* main-background + 0x12 */
    --color-background-darker: #4C4E5A; /* main-background + 0x24 */
    --color-placeholder-light: #44475A;
    --color-primary: #BD93F9;
    --color-primary-default: var(--color-primary);
    --color-primary-text: #F8F8F2;
    --color-primary-hover: #D1B3FB; /* primary, 30% lighter */
    --color-primary-element: var(--color-primary);
    --color-primary-element-hover: var(--color-primary-hover);
    --color-primary-element-text: var(--color-primary-text); /* example: share symbol in folder icon */
    --color-background-plain: var(--color-main-background);
    --color-error: #FF5555;
    --color-error-rgb: 255, 85, 85;
    --color-error-hover: #FF8888;
    --color-error-text: #FF79C6;
    --color-warning: #F1FA8C;
    --color-warning-rgb: 241, 250, 140;
    --color-success: #50FA7B;
}
